# Auto detect text files and perform LF normalization
* text=auto
# Force specific files to use LF
*.hea text eol=lf
*.atr text eol=lf
*.dat binary
*.py text eol=lf
*.sh text eol=lf
*.md text eol=crlf
*.yml text eol=lf
*.txt text eol=crlf
# Binary files
*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
